body {
    background-color: #d7f4d7;
}

header h1 {
    display: block;
    font-family: tahoma, sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: 30px auto;
    cursor: 8;
    color: teal;
    font-weight: bold;
}

#lazybox {
    background-color: white;
    box-shadow: 0px 4px 10px #819281;
    width: 50%;
    margin: 50px auto;
    padding: 10px 0;
}

#current {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    font-family: tahoma, sans-serif;
    vertical-align: middle;
    margin-top: 4px;
}

nav ul a {
    display: inline-block;
    width: 140px;
    margin: 10px;
    height: 50px;
    background-color: #800000;
    box-shadow: 0px 2px 4px #595959;
    text-align: center;
    text-decoration: none;
    color: white;
}

nav ul a li {
    font-size: 25px;
    margin: 7px auto;
    vertical-align: middle;
}

nav ul a:hover {
    background-color: #008080;
}

nav ul {
    width: 80%;
    list-style-type: none;
    margin: auto;
    text-align: center;
}

nav {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

main {
    width: 80%;
    margin: 50px auto;
}

footer {
    width: 80%;
    margin: 50px auto;
}

footer p {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

table img {
    display: block;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    margin: auto;
}

#results {
    border-collapse: collapse;
    width: 100%;
}

#results td {
    border: 2px solid #b9c6b9;
    word-wrap: break-word;
}

#results th {
    border: 2px solid #b9c6b9;
    background-color: teal;
}

/** SER DØNN UT SOM KNAPPENE, DÅRLIG INTERAKSJONSDESIGN **/
#results th p {
    font-size: 22px;
    text-transform: uppercase;
    font-family: calibri, sans-serif;
    color: white;
}

table p, table a {
    margin: 8px;
    vertical-align: middle;
    max-width: 160px;
    word-wrap: break-word;
}

#bobo {
    display: block;
    width: 150px;
    margin-left: 50px;
}

#search p, #search input{
    width: auto;
    margin: auto;
    text-align: center;
}

#search {
    width: 50%;
    margin: 40px auto;
}

#search form {
    display: inline-block;
    width: 100px;
    margin: 10px auto;
    padding-left: 70px;
}